<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvugLmgNRefvL04uwSPDs4_qe2OkxnA_s</string>
	<key>GCM_SENDER_ID</key>
	<string>703892789692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calaitest.app</string>
	<key>PROJECT_ID</key>
	<string>cal-ai-test</string>
	<key>STORAGE_BUCKET</key>
	<string>cal-ai-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703892789692:ios:c1382f57df1ef1c70a33b9</string>
</dict>
</plist>